@import '../../styles/colors';

button.button {
    color: $white;
    border-radius: 8px;
    background-color: $green;
    width: 100%;
    padding: 20px;
    
    &:disabled {
        opacity: 0.5;
        cursor: default;
        background-color: $grey;  
    }
}