

div.wrapFooter {
    max-height: 100px;
    padding: 20px;

    @media (min-width: 768px){
        background-color: #F4F3F6;
    }

    div.footerContent {
        display: flex;
        align-items: center;

        @media (min-width: 768px){
            max-width: 65%;
            margin: 0 auto;
            justify-content: space-between;
            & > button {
                width: 15rem;
            }
        } 
    }
}